/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/


body {
  margin: 0px;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: black;
}

main {
  margin:40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

h1 {
     
  font-family: Papyrus, fantasy;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: white;
}

.start {
  font-family: Papyrus, fantasy;
  text-decoration: none;
  color:black;
  display:block;
  padding:40px 80px;
  margin:20px 0;   
  border-radius: 100%;
  border:3px solid white;
  text-align: center;
  font-size: 3em;
  outline: none;
}
